
  <section class="header-11-sub">
      <div class="background">&nbsp;</div>
      <div class="container">
          <div class="row">
              <div class="col-sm-4">
                  <h3>Login</h3>
                  <p>CoderDating is the first dating website just for experienced Ruby on Rails engineers.</p>
                  
                  <div class="signup-form">
                    <%= form_for(User.new, url: login_path) do |f| %>
                      <div class="form-group">
                        <%= f.text_field 'email', class: 'form-control', placeholder: 'Your E-mail' %>
                      </div>
                       
                        <div class="half-width">
                          <%= f.password_field 'password', class: 'form-control', placeholder: 'Password' %>
                        </div>
                       
                      <div class="form-group">
                          <%= f.submit 'Sign in', class: 'btn btn-block btn-info' %>
                      </div>    
                    <% end %>
                  </div>

                  <div class="additional-links">By signing up you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy</a></div>
              </div>
              <div class="col-sm-7 col-sm-offset-1 player-wrapper">
                  <div class="player">
                      <%= image_tag 'hero' %>
                  </div>
              </div>
          </div>
      </div>
  </section>

